body {
    margin: 0;
    margin-left: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

input {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 3px solid rgb(170, 174, 170);
    margin-bottom: 4px;
    border-radius: 20px;
    background-color: rgb(228, 222, 215);
    font-size: 20px;

}

.save {
    background: rgb(151, 206, 151);
    color: rgb(28, 64, 57);
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
}

.remove {
    background: rgb(28, 64, 57);
    color: rgb(151, 206, 151);
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
}

.save:hover {
    background-color: rgb(168, 177, 167);
}

.remove:hover {
    background-color: rgb(131, 145, 130);
}

#display-holder {

    display: flex;

}

.display-box {
    width: 100%;
    box-sizing: border-box;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: rgb(135, 169, 135);
    overflow: scroll;
    border-radius: 10px;
    color: rgb(247, 241, 233);
}

ul {
    padding-left: 20px;
}

a {
    color: rgb(28, 64, 57);
}