body {
    margin: 0;
    margin-left: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    min-width: 737px;
}

.save {
    background: rgb(188, 212, 201);
    color: rgb(21, 50, 37);
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    width: 49%;
}

.remove {
    background: rgb(21, 50, 37);
    color: rgb(188, 212, 201);
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    width: 49%;
}

#remove-all-btn {

    background: rgb(21, 50, 37);
    color: rgb(188, 212, 201);
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    margin-right: 30px;

}

.save:hover {
    background-color: rgb(168, 177, 167);
}

.remove:hover {
    background-color: rgb(131, 145, 130);
}

#remove-all-btn:hover {

    background-color: rgb(131, 145, 130);

}

#display-holder {

    display: flex;

}

.display-box {
    width: 100%;
    box-sizing: border-box;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: rgb(234, 219, 200);
    overflow: scroll;
    border-radius: 10px;
    color: rgb(21, 50, 37);
}

ul {
    padding-left: 20px;
}

a {
    color: rgb(21, 50, 37);
}

#bottom-flex {
    display: flex;
}